
  

  
<html lang="en">  
  

<head>
    <meta charset="utf-8">
    <title>Row Component</title>
</head>

<body>
    <div id="app">
    <h3>
    Battle Manager
    </h3>
            <my-item v-for="(row, index) in rows"
                    :itemdata="itemList"
                    :row="row"                     
                    v-on:remove="removeRow(index)">
            </my-item>
        <div>
            <button @click="addRow"> Add Creature </button>
        </div>
        
    </div>

<template id="item-template">
    <div>
        <select required v-model="row.quantity">
            <option value = "" selected disabled hidden>Init</option>
            <option v-for="item in itemdata"  :value="item"> {{ item.quantity }} </option>
        </select>
        <input type="text" placeholder="Creature" v-model="row.description">
        
        <input type='number' class = 'hp' placeholder = "HP">
          Looted? <input type = "checkbox">
        
        <button v-on:click= "row.seen = !row.seen"> X </button>
        <button v-if="row.seen" v-on:click="remove"> Are You Sure? </button>
        
    </div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.js"></script>

</body>
</html>
